[net]
# Testing
#batch=1
#subdivisions=1
# Training
batch=64
subdivisions=2
width=416
height=416
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.001
burn_in=1000
max_batches = 500200
policy=steps
steps=400000,450000
scales=.1,.1

#0
[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
pad=1
activation=leaky
#1
[spatialattention2maxpoolconv]
size=3
filters=32
#2
[spatialattention2maxpoolconv]
size=3
filters=64
#3
[maxpool]
size=2
stride=2
#4
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

#5
[maxpool]
size=2
stride=2
#6
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky
#7
[maxpool]
size=2
stride=2
#8
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky
#9
[maxpool]
size=2
stride=1
#10
[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky


###########

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

##########transfer convolutional to dila
[dilated_convolution]
dilation_rate=2
batch_normalize=1
filters=512
size=3
stride=1
pad=2
activation=leaky

[conv]
filters=256

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=24
activation=linear



[yolo]
mask = 3,4,5
anchors = 31,28, 35,35, 47,58, 62,35, 138,111, 414,205
classes=3
num=6
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1

[route]
layers = -7

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers = -1, 6

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=24
activation=linear

[yolo]
mask = 1,2,3
anchors = 31,28, 35,35, 47,58, 62,35, 138,111, 414,205
classes=3
num=6
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1
